.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2E4374;
}

h1 {
  margin: 30px;
  font-size: 6rem;
  font-family: 'Oxygen', sans-serif;
  color: #7C81AD;
}

p {
  font-size: 2rem;
  color: #7C81AD;
  font-weight:50;
  font-family: 'Oxygen', sans-serif;
}
img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
